page-quran {
    .card-md{background: rgb(32, 185, 154);}
    .card-md p{
        color:#fff;text-align:center;font-size:3.5rem;
    }
    .alert-radio-icon{border-color: #45dbc7 !important;}
    .footer{bottom:0;position: absolute;width: 100%}
}
