
.reset-filters {
  color: color($colors, danger);
}

@each $track, $value in auxiliary-categories() {

  ion-item[track=#{$track}] .dot {
    height: 10px;
    display: inline-block;
    width: 10px;
    background-color: $value;
    border-radius: 5px;
    margin-right: 10px;
  }

}
.list-md .item-block .item-inner{ border-bottom:none}
.item-md{    color: #eaeaea; background-color: rgba(36, 36, 36, 0.59);margin-top:2px;}
.list.list-md{margin-top:3px;}