page-qibla {
#qiblamap{height:25%;width: 100%}
.qibla-compass{    
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: 1;
}
.direction{z-index:100;transition: all .4s ease-in-out;}
}
.compass-compass-image {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1; }
  
  .compass-compass-arrow {
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    height: 200px;
    z-index: 2;
    -webkit-transition: all 1000/60ms linear;
    transition: all 1000/60ms linear; }
  
  .compass-compass-heading {
    font-family: monospace;
    margin: 30px 0 20px 0;
    font-size: 54px;
 
}
    .compass-compass-figure {
        display: block;
        margin: 10px auto;
        position: relative;
        width: 200px;
        height: 200px; }  
.compass-details{
    padding-left: 10px;
}        