<ion-header>
  <ion-navbar>
    <ion-title>
      Calendar
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="calendar-main" padding>
  <div class="calendar-header">
    <ion-row class="calendar-month">
      <!--<ion-col col-2 (click)="goToLastMonth()"> <ion-icon name="arrow-dropleft-circle"></ion-icon></ion-col>
      <ion-col col-8>{{currentMonth}} {{currentYear}}</ion-col>
       <ion-col col-2 (click)="goToNextMonth()"> <ion-icon name="arrow-dropright"></ion-icon></ion-col>
      -->
      <ion-slides effect="coverflow" slidesPerView="3" (ionSlideDrag)="slideDrag($event)" centeredSlides="true" initialSlide="{{this.date.getMonth()}}">

        <ion-slide *ngFor="let month of monthNames">
          <h2>{{month}}</h2>
        </ion-slide>
      </ion-slides>


    </ion-row>
  </div>
  
  <div class="calendar-body" (swipe)="transition($event)">
    <ion-grid>
      <ion-row class="calendar-weekday">
        <ion-col>Su</ion-col>
        <ion-col>Mo</ion-col>
        <ion-col>Tu</ion-col>
        <ion-col>We</ion-col>
        <ion-col>Th</ion-col>
        <ion-col>Fr</ion-col>
        <ion-col>Sa</ion-col>
      </ion-row>
      <ion-row class="calendar-date">
        <ion-col col-1 *ngFor="let lastDay of daysInLastMonth" class="last-month">{{lastDay}}</ion-col>
        <ion-col col-1 *ngFor="let day of daysInThisMonth" (tap)="events('public',day)">

          <span class="currentDate" *ngIf="currentDate === day; else otherDate">{{day}}</span>
          <ng-template #otherDate class="otherDate">{{day}}</ng-template>
          <!-- <span *ngIf="checkeEvent(day,'public')" class="public-event"></span>
          <span *ngIf="checkeEvent(day,'private')" class="friend-event"></span> -->

        </ion-col>
        <ion-col col-1 *ngFor="let nextDay of daysInNextMonth" class="next-month">{{nextDay}}</ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-row class="event-bottom-head">
    <ion-col col-06>
      <span class="friend-event big-size"></span>
      <p> Friends only event</p>
    </ion-col>
    <ion-col col-06>
      <span class="public-event big-size"></span>
      <p>Public event</p>
    </ion-col>
  </ion-row>
  <!-- <ion-row>
    <ion-col col-12>
      <ion-list no-margin class="friends-items" *ngIf="selectedDateInvites">
        <ion-item-group *ngFor="let invite of selectedDateInvites">
          <ion-item (tap)="toggleInvite(invite)">
            <ion-avatar item-start>
              <img [src]="invite.host.avatar" />
            </ion-avatar>
            <h2>{{invite.host.name}}</h2>
            <h3 item-subtitle>{{this.activeDate}}
              <span class="friend-event big-size" [ngClass]="{'friend-event' :invite.type=='private','public-event' :invite.type=='public'}"></span>
            </h3>
            <span item-end class="circle-act" [class.active]="true" (tap)="toggleInvite(invite)">
              <ion-icon name="search" color="hypespotWhite"></ion-icon>
            </span>
          </ion-item>
          <place-details *ngIf="selectedInvite === invite && selectedInvite.place" [place]="selectedInvite.place"></place-details>
        </ion-item-group>
      </ion-list>
    </ion-col>
  </ion-row> -->

</ion-content>
