<ion-header>
  <ion-navbar>
    <ion-title>
      Islamic Calendar
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="calendar-main">
  <div class="calendar-header">
    <ion-row class="calendar-month">
      <ion-slides effect="coverflow" slidesPerView="3" (ionSlideDrag)="slideDrag($event)" centeredSlides="true" initialSlide="{{this.date.getMonth()}}">

        <ion-slide *ngFor="let month of monthNames">
          <h2>{{month.en}}</h2>
        </ion-slide>
      </ion-slides>


    </ion-row>
  </div>
  
  <div class="calendar-body" (swipe)="transition($event)">
    <ion-grid>
      <ion-row class="calendar-weekday">
        <ion-col>Su</ion-col>
        <ion-col>Mo</ion-col>
        <ion-col>Tu</ion-col>
        <ion-col>We</ion-col>
        <ion-col>Th</ion-col>
        <ion-col>Fr</ion-col>
        <ion-col>Sa</ion-col>
      </ion-row>
      <ion-row class="calendar-date">
        <ion-col col-1 *ngFor="let lastDay of daysInLastMonth" class="last-month"></ion-col>
        <ion-col col-1 *ngFor="let day of daysInThisMonth" (tap)="events(day)">

          <span class="currentDate" *ngIf="currentDate === day; else otherDate">{{day}}</span>
          <ng-template #otherDate class="otherDate">{{day.en}}</ng-template>
          <div class="arabic-day" [ngStyle]="{'color':day.holidays ==true ? '#5dff8f' : '#e0e0e0' }">{{day.ar}}</div>
          <!-- <span *ngIf="checkeEvent(day,'public')" class="public-event"></span>
          <span *ngIf="checkeEvent(day,'private')" class="friend-event"></span> -->

        </ion-col>
        <ion-col col-1 *ngFor="let nextDay of daysInNextMonth" class="next-month"></ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-row class="event-bottom-head" *ngIf="holidayes?.length > 0">
    <ion-col col-06>
      <span class="holiday-event big-size"></span>
      <p>List Of Holidays</p>
    </ion-col>
  </ion-row>
  <ion-row  *ngIf="holidayes?.length > 0">
    <ion-col col-12>
      <ion-list no-margin class="friends-items">
        <ion-item-group *ngFor="let event of holidayes">
          <ion-item>
            <h3>{{event.hijri['holidays'].join('')}}</h3>
            <p item-subtitle>
              {{event.hijri['day'] }}
              {{event.hijri['month'].en }}
              {{event.hijri['year'] }}
              
            </p>
            
          </ion-item>
         
        </ion-item-group>
      </ion-list>
    </ion-col>
  </ion-row>

</ion-content>
