<ion-header>

  <ion-navbar no-border-bottom>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Today</ion-title>
    

    <ion-buttons end>
      <button ion-button icon-only (click)="presentFilter()">
        <ion-icon ios="ios-options-outline" md="md-options"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
    

</ion-header>

<ion-content>

    <ion-card class="location-date-headLine">
        
        <ion-card-header>
            <ion-icon name="pin"></ion-icon>
            <span>{{locationData.locality}}  {{locationData.subAdministrativeArea}}  {{locationData.administrativeArea}}</span> 
        </ion-card-header>
      
        <ion-card-content>
            <ion-label >{{activeDateEn.dayname}} {{activeDateEn.readable}}</ion-label>
            <ion-label class="date-er">{{activeDateEn.arabicDate}}</ion-label>
            <ion-item *ngIf="nextPrayerTime.time">
              <ion-icon name="time" item-start large></ion-icon>
              <h2>Next Prayer</h2>
              <p style="color:rgb(211, 208, 208)">{{nextPrayerTime.time +" "+ nextPrayerTime.text }}  <span class="view-all" (click)="goToPrayterTime()">View All</span> </p>
            </ion-item>
          </ion-card-content>
        
        
          </ion-card>
        
        <ion-card>
            <ion-card-content>
                <blockquote>
                <!-- <span class="coute-sign">“</span> -->

                  {{qoutes['qoutes']}}
                    
                    <!--<span class="coute-sign"> ”</span> -->
            
                <div class="source">{{qoutes['author']}}</div> 
              </blockquote>
            
            </ion-card-content>
        </ion-card>

        <ion-content padding>

        <ion-grid class="icon-grid">
            <ion-row>
                <ion-col col-md-3>
                        <button ion-fab class="btn3d btn-default"></button>
                      <ion-label>Al Quran</ion-label>
                </ion-col>
                <ion-col col-md-3  (click)="goToDuaPage()">
                        <button ion-fab class="btn3d btn-primary"></button>
                      <ion-label>Duas</ion-label>
                </ion-col>
                <ion-col col-md-3 (click)="goToZakatPage()">
                        <button ion-fab class="btn3d btn-success"></button>
                      <ion-label>Zakat Calculator</ion-label>
                </ion-col>
                <ion-col col-md-3 (click)="gotoTasbeeh()">
                    <button ion-fab class="btn3d btn-tasbih"></button>
                  <ion-label>Tasbih</ion-label>
            </ion-col>
          
            </ion-row>
            <ion-row>
              <ion-col col-md-3 (click)="gotoNamepage()">
                <button ion-fab class="btn3d btn-99name"></button>
                <ion-label>99 Name of Allah</ion-label>
              </ion-col>
              <ion-col col-md-3 (click)="gotoCalendar()">
                <button ion-fab class="btn3d btn-white"></button>
                <ion-label>Islamic Calendar</ion-label>
             </ion-col>
             <ion-col col-md-3 (click)="gotohalalPlace()">
                <button ion-fab class="btn3d btn-info"></button>
              <ion-label>Halal Places</ion-label>
             </ion-col>
                  <ion-col col-md-3 (click)="gotoIslamicChannel()">
                      <button ion-fab class="btn3d btn-magick"></button>
                    <ion-label>Live Muslim Channels</ion-label>
                </ion-col>
            </ion-row>
          </ion-grid>

</ion-content>
        

  <!-- <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher> -->
<!-- 
  <ion-list #scheduleList [hidden]="shownSessions === 0">

    <ion-item-group *ngFor="let group of groups" [hidden]="group.hide">

      <ion-item-divider sticky>
        <ion-label>
          {{group.time}}
        </ion-label>
      </ion-item-divider>

      <ion-item-sliding *ngFor="let session of group.sessions" #slidingItem [attr.track]="session.tracks[0] | lowercase" [hidden]="session.hide">

        <button ion-item (click)="goToSessionDetail(session)">
          <h3>{{session.name}}</h3>
          <p>
            {{session.timeStart}} &mdash;
            {{session.timeEnd}}:
            {{session.location}}
          </p>
        </button>

        <ion-item-options>
          <button ion-button color="favorite" (click)="addFavorite(slidingItem, session)" *ngIf="segment === 'all'">
            Favorite
          </button>
          <button ion-button color="danger" (click)="removeFavorite(slidingItem, session, 'Remove Favorite')" *ngIf="segment === 'favorites'">
            Remove
          </button>
        </ion-item-options>

      </ion-item-sliding>

    </ion-item-group>

  </ion-list>

  <ion-list-header [hidden]="shownSessions > 0">
      No Sessions Found
  </ion-list-header> -->

  <ion-fab bottom right #fab>
    <button ion-fab><ion-icon name="share"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab color="vimeo" (click)="openSocial('Vimeo', fab)"><ion-icon name="logo-vimeo"></ion-icon></button>
      <button ion-fab color="google" (click)="openSocial('Google+', fab)"><ion-icon name="logo-googleplus"></ion-icon></button>
      <button ion-fab color="twitter" (click)="openSocial('Twitter', fab)"><ion-icon name="logo-twitter"></ion-icon></button>
      <button ion-fab color="facebook" (click)="openSocial('Facebook', fab)"><ion-icon name="logo-facebook"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>


</ion-content>