$categories: (
 ionic: color($colors, primary),
 angular: #AC282B,
 communication: #8E8D93,
 tooling: #FE4C52,
 services: #FD8B2D,
 design: #FED035,
 workshop: #69BB7B,
 food: #3BC7C4,
 documentation: #B16BE3,
 navigation: #6600CC,
);

@function auxiliary-categories() {
  @return map-remove($categories);
}

page-schedule {
  @each $track, $value in auxiliary-categories() {
   ion-item-sliding[track=#{$track}] ion-label {
     border-left: 2px solid $value;
     padding-left: 10px;
   }
  }

  .location-date-headLine ion-label{font-size:2em;margin:0}
  .card-md{background: rgb(32, 185, 154);}
ion-label.date-er{font-size:1.5em}
.location-date-headLine{text-align: center}
.coute-sign {
  font-size: 1.9em;
  line-height: 20px;
  vertical-align: bottom;
  padding: 5px;
}
.source{font-weight: 600;text-align: right;font-size:.9em}
.card-content-md{ padding: 10px 8px; }
.view-all{font-weight: 600;text-decoration: underline}
.icon-grid ion-fab{position: relative;}
.icon-grid .col{text-align: center;}

.icon-grid ion-label {
  margin: 0;
  display: block;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: inherit;
  width: 100%;
  white-space: normal;
   width: 100%;
   color: #a8a7a7;
   font-weight: 600;
   line-height: 15px;
   margin-top: 10px;
}
}
